
body{
    background-color:#EAF6F6;
}
hr{
    border-color:grey;
    width:5%;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;

}
h1,h3{
    color:#66BFBF;
}
